.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
}

.wrapper {
  width: 25%;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.signUpContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.submitButton {
  background-color: green;
  width: 100%;
}

.signUpButton {
  background-color: black;
  width: 25%;
}
