.title {
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  margin: auto;
}

.cardsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.cardsContainer::after {
  content: "";
  flex: auto;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.selected {
  border-bottom: 2px solid black;
}