.cardContainer {
  display: flex;
  flex-direction: row;
  border: 2px solid cadetblue;
  border-radius: 25px;
  width: 220px;
  background-color: lightblue;
  padding: 20px 0;
}

.cardContainer:hover {
  background-color: lightgray;
}

.vertical {
  display: flex;
  border-right: 2px solid black;
  margin-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.buttonContainer {
  padding: 5px;
  margin-left: auto;
}

.buttonContainer button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.eventName {
  font-weight: bold;
}

.bgcGreen {
  background-color: palegreen;
  border-color: green;
}

.bgcGreen:hover{
  background-color: white;
}

.bgcRed {
  font-weight: bold;
  background-color:pink;
  border-color: brown;
}

.bgcRed:hover{
  background-color: white;
}
